.leaflet-control-measure {
    margin-left: 13px !important;
}
.leaflet-control-measure a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 22px;
    height: 22px;
    display: block;
    text-align: center;
    color: #ccc;
    text-decoration: none;
    font: bold 16px/22px Arial,Helvetica,sans-serif;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
.leaflet-control-measure > .leaflet-control-measure-enabled {
    color: #000;
}
.leaflet-control-measure > .leaflet-control-measure-disabled {
    color: #ccc;
}